[Package]
version: 1
depends: 

[Product]
type: localboot
id: revo-uninstaller
name: Revo Uninstaller
description: Revo Uninstaller 2.0.4
advice: 
version: 2.0.4
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
revo-uninstaller (2.0.4-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  2/13/2018 0:06:32

